/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap'); */

html {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
}

h1 {
  /* font-family: 'Montserrat-Black'; */
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}